$primary-color-green: hsl(171, 66%, 44%);
$primary-color-blue: hsl(233, 100%, 69%);

$neutral-color-gray-100: hsl(200, 10%, 95%);
$neutral-color-gray-300: hsl(200, 10%, 80%);
$neutral-color-gray-500: hsl(201, 11%, 66%);
$neutral-color-gray-700: hsl(210, 10%, 33%);
$neutral-color-white: hsl(0, 0%, 90%);

$border-color-green: hsl(175, 70%, 35%);
$border-color-blue: hsl(233, 50%, 55%);

$body-font-size-lg: 18px;
$body-font-size-md: 16px;
$body-font-size-sm: 14px;

$font-size-heading-desktop-lg: 40px;
$font-size-heading-desktop-md: 30px;
$font-size-heading-desktop-sm: 24px;

$font-size-heading-tablet-sm: 20px;

$body-font-family: "Bai Jamjuree", sans-serif;

$body-font-weight-400: 400;
$body-font-weight-600: 600;

$padding-button-desktop: 10px 20px;
$padding-button-tablet: 5px 15px;
$padding-button-mobile: 15px 75px;
