* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.hero {
  display: flex;
  flex-direction: column;
  background-image: url("src/img/bg-header-desktop.png");
  background-size: cover;
  align-items: center;
  padding: 100px 100px 50px 100px;
  gap: 40px;
  text-align: center;
}

.hero__logo {
  min-width: 50px;
  max-width: 120px;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__title {
  font-size: 40px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.hero__text {
  max-width: 650px;
  font-size: 18px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
}

.hero__actions {
  display: flex;
  gap: 20px;
}

.cta-btn {
  box-shadow: 0 5px 10px hsl(200, 10%, 80%);
}

.cta-btn-ios {
  border-top: 1px solid hsl(175, 70%, 35%);
  border-right: 1px solid hsl(175, 70%, 35%);
  border-bottom: 3px solid hsl(175, 70%, 35%);
  border-left: 1px solid hsl(175, 70%, 35%);
  color: hsl(0, 0%, 90%);
  background-color: hsl(171, 66%, 44%);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 20px;
  transition: opacity 0.15s ease-out;
}
.cta-btn-ios:hover {
  opacity: 0.6;
}

.cta-btn-mac {
  border-top: 1px solid hsl(233, 50%, 55%);
  border-right: 1px solid hsl(233, 50%, 55%);
  border-bottom: 3px solid hsl(233, 50%, 55%);
  border-left: 1px solid hsl(233, 50%, 55%);
  color: hsl(0, 0%, 90%);
  background-color: hsl(233, 100%, 69%);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 20px;
  transition: opacity 0.15s ease-out;
}
.cta-btn-mac:hover {
  opacity: 0.6;
}

.snippets {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
}

.snippets__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.snippets__title {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.snippets__text {
  font-size: 18px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
  max-width: 700px;
}

.snippets__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snippets__image {
  position: relative;
  left: -200px;
  margin-right: -100px;
  width: 600px;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.snippets__features {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  gap: 30px;
  position: relative;
  top: -20px;
}

.snippets__feature {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.snippets__feature_title {
  font-size: 24px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.snippets__feature_text {
  font-size: 16px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
  max-width: 700px;
}

.access {
  padding: 50px 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.access__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.access__title {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.access__text {
  font-size: 18px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
}

.workflow {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.workflow__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workflow__title {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.workflow__text {
  font-size: 18px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
  text-align: center;
}

.workflow__list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.workflow__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  max-width: 400px;
}

.workflow__item-img {
  width: auto;
  height: 55px;
}

.workflow__item-title {
  font-size: 24px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.workflow__item-text {
  font-size: 18px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
}

.partners {
  padding: 50px 100px;
}

.partners__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.partners__item-logo {
  max-width: 150px;
}

.clipboard {
  padding: 50px 100px 120px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.clipboard__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.clipboard__title {
  font-size: 30px;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

.clipboard__text {
  font-size: 18px;
  line-height: 1.6;
  color: hsl(201, 11%, 66%);
  min-width: 300px;
  max-width: 700px;
  text-align: center;
}

.clipboard__actions {
  display: flex;
  gap: 40px;
}

.footer {
  padding: 50px 100px;
  background-color: hsl(200, 10%, 95%);
  display: flex;
  align-items: center;
  gap: 200px;
}

.footer__logo {
  width: 70px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  height: 70px;
  align-content: center;
  justify-content: space-between;
}

.footer__item {
  margin-right: 80px;
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-weight: 400;
  transition: color 0.15s ease-out;
}
.footer__item:hover {
  color: hsl(171, 66%, 44%);
}

.footer__social {
  margin-left: auto;
  display: flex;
  list-style: none;
  gap: 20px;
}

.footer__icon {
  transition: filter 0.1s ease-out;
}
.footer__icon:hover {
  filter: invert(62%) sepia(60%) saturate(400%) hue-rotate(120deg);
}

@media screen and (max-width: 1024px) {
  .snippets {
    padding: 50px;
  }
  .snippets__body {
    justify-content: flex-start;
  }
  .snippets__image {
    left: -100px;
    margin-right: -40px;
    width: 600px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .access {
    padding: 50px 50px 0 50px;
    gap: 40px;
    width: 100%;
  }
  .access__text {
    max-width: 700px;
  }
  .access__img {
    width: 100%;
  }
  .workflow {
    padding: 50px;
  }
  .workflow__list {
    width: 100%;
    justify-content: space-between;
  }
  .workflow__item {
    max-width: 280px;
  }
  .partners {
    padding: 50px;
  }
  .partners__list {
    justify-content: space-between;
  }
  .partners__item-logo {
    max-width: 135px;
  }
  .footer {
    padding: 50px;
  }
  .footer__nav {
    gap: 10px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 50px 30px;
    gap: 40px;
  }
  .hero__text {
    max-width: 600px;
    font-size: 16px;
  }
  .cta-btn-ios {
    font-size: 16px;
    padding: 5px 15px;
  }
  .cta-btn-ios:active {
    opacity: 0.6;
  }
  .cta-btn-mac {
    font-size: 16px;
    padding: 5px 15px;
  }
  .cta-btn-mac:active {
    opacity: 0.6;
  }
  .snippets {
    padding: 50px 30px;
  }
  .snippets__text {
    font-size: 16px;
    max-width: 600px;
  }
  .snippets__image {
    left: -120px;
    margin-right: -65px;
    width: 500px;
  }
  .snippets__features {
    top: 0;
  }
  .snippets__feature_text {
    font-size: 14px;
  }
  .access__text {
    font-size: 16px;
    max-width: 600px;
  }
  .workflow {
    padding: 50px 30px;
    gap: 45px;
  }
  .workflow__text {
    font-size: 16px;
  }
  .workflow__item {
    max-width: 210px;
  }
  .workflow__item-img {
    width: auto;
    height: 40px;
  }
  .workflow__item-title {
    font-size: 20px;
  }
  .workflow__item-text {
    font-size: 16px;
  }
  .partners {
    padding: 50px 30px;
  }
  .partners__item-logo {
    min-width: 60px;
    max-width: 115px;
  }
  .clipboard {
    gap: 40px;
  }
  .clipboard__text {
    font-size: 16px;
    max-width: 550px;
  }
  .clipboard__actions {
    gap: 20px;
  }
  .footer {
    padding: 40px 30px;
    gap: 50px;
  }
  .footer__item {
    margin-right: 40px;
  }
  .footer__nav {
    gap: 5px;
    height: 55px;
  }
  .footer__item {
    font-size: 16px;
  }
  .footer__item:active {
    color: hsl(171, 66%, 44%);
  }
  .footer__icon:active {
    filter: invert(62%) sepia(60%) saturate(400%) hue-rotate(120deg);
  }
}
@media screen and (max-width: 650px) {
  .snippets__body {
    flex-direction: column;
    gap: 40px;
  }
  .snippets__image {
    position: static;
    margin: 0;
  }
  .workflow__list {
    flex-direction: column;
  }
  .workflow__item {
    max-width: 100%;
  }
  .partners__list {
    gap: 70px;
    justify-content: center;
  }
  .partners__item-logo {
    max-width: 200px;
  }
  .footer__logo {
    width: 60px;
  }
  .footer__item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 421px) {
  .hero {
    padding: 50px 15px;
  }
  .hero__title {
    font-size: 30px;
    max-width: 300px;
    align-self: center;
  }
  .hero__text {
    max-width: 300px;
  }
  .hero__actions {
    flex-direction: column;
  }
  .cta-btn-ios {
    font-size: 16px;
    padding: 15px 75px;
  }
  .cta-btn-mac {
    font-size: 16px;
    padding: 15px 75px;
  }
  .snippets {
    padding: 50px 15px;
  }
  .snippets__text {
    max-width: 300px;
    align-self: center;
  }
  .snippets__body {
    flex-direction: column;
    gap: 50px;
  }
  .snippets__image {
    position: static;
    width: 100%;
    margin: 0;
  }
  .snippets__feature {
    text-align: center;
    max-width: 260px;
  }
  .access {
    padding: 50px 15px;
  }
  .access__text {
    max-width: 300px;
    align-self: center;
  }
  .workflow {
    padding: 50px 15px;
    text-align: center;
    gap: 100px;
  }
  .workflow__description {
    max-width: 300px;
  }
  .workflow__list {
    flex-direction: column;
    gap: 50px;
  }
  .workflow__item {
    align-self: center;
    max-width: 320px;
  }
  .partners {
    padding: 50px 15px;
  }
  .partners__list {
    flex-direction: column;
    gap: 60px;
  }
  .partners__item-logo {
    max-width: 300px;
  }
  .clipboard {
    padding: 50px 15px;
  }
  .clipboard__text {
    max-width: 300px;
  }
  .clipboard__actions {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    padding: 50px 15px;
  }
  .footer__nav {
    flex-wrap: nowrap;
    text-align: center;
    gap: 15px;
    height: 100%;
  }
  .footer__item {
    margin: 0;
  }
  .footer__social {
    margin: 0;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */