@use "variables";
@use "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: variables.$body-font-family;
    font-size: variables.$body-font-size-lg;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url("src/img/bg-header-desktop.png");
    background-size: cover;
    align-items: center;
    padding: 100px 100px 50px 100px;
    gap: 40px;
    text-align: center;
}

.hero__logo {
    min-width: 50px;
    max-width: 120px;
}

.hero__description {
    @include mixins.description;
}

.hero__title {
    @include mixins.headlines(variables.$font-size-heading-desktop-lg);
}

.hero__text {
    max-width: 650px;
    @include mixins.paragraph(variables.$body-font-size-lg);
}

.hero__actions {
    display: flex;
    gap: 20px;
}

.cta-btn {
    box-shadow: 0 5px 10px variables.$neutral-color-gray-300;
}

.cta-btn-ios {
    @include mixins.download-btn(
        variables.$primary-color-green,
        variables.$body-font-size-lg,
        variables.$border-color-green,
        variables.$padding-button-desktop
    );
}

.cta-btn-mac {
    @include mixins.download-btn(
        variables.$primary-color-blue,
        variables.$body-font-size-lg,
        variables.$border-color-blue,
        variables.$padding-button-desktop
    );
}

.snippets {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
}

.snippets__description {
    @include mixins.description;
}

.snippets__title {
    @include mixins.headlines(variables.$font-size-heading-desktop-md);
}

.snippets__text {
    @include mixins.paragraph(variables.$body-font-size-lg);
    max-width: 700px;
}

.snippets__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snippets__image {
    position: relative;
    left: -200px;
    margin-right: -100px;
    width: 600px;
    height: 100%;
    object-fit: fill;
}

.snippets__features {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: left;
    gap: 30px;
    position: relative;
    top: -20px;
}

.snippets__feature {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.snippets__feature_title {
    @include mixins.headlines(variables.$font-size-heading-desktop-sm);
}

.snippets__feature_text {
    @include mixins.paragraph(variables.$body-font-size-md);
    max-width: 700px;
}

.access {
    padding: 50px 100px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.access__description {
    @include mixins.description;
    text-align: center;
}

.access__title {
    @include mixins.headlines(variables.$font-size-heading-desktop-md);
}

.access__text {
    @include mixins.paragraph(variables.$body-font-size-lg);
}

.workflow {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.workflow__description {
    @include mixins.description;
}

.workflow__title {
    @include mixins.headlines(variables.$font-size-heading-desktop-md);
}

.workflow__text {
    @include mixins.paragraph(variables.$body-font-size-lg);
    text-align: center;
}

.workflow__list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.workflow__item {
    @include mixins.description;
    text-align: center;
    align-items: center;
    max-width: 400px;
}

.workflow__item-img {
    width: auto;
    height: 55px;
}

.workflow__item-title {
    @include mixins.headlines(variables.$font-size-heading-desktop-sm);
}

.workflow__item-text {
    @include mixins.paragraph(variables.$body-font-size-lg);
}

.partners {
    padding: 50px 100px;
}

.partners__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

.partners__item-logo {
    max-width: 150px;
}

.clipboard {
    padding: 50px 100px 120px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.clipboard__description {
    @include mixins.description;
    text-align: center;
    align-items: center;
}

.clipboard__title {
    @include mixins.headlines(variables.$font-size-heading-desktop-md);
}

.clipboard__text {
    @include mixins.paragraph(variables.$body-font-size-lg);
    min-width: 300px;
    max-width: 700px;
    text-align: center;
}

.clipboard__actions {
    display: flex;
    gap: 40px;
}

.footer {
    padding: 50px 100px;
    background-color: variables.$neutral-color-gray-100;
    display: flex;
    align-items: center;
    gap: 200px;
}

.footer__logo {
    width: 70px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    height: 70px;
    align-content: center;
    justify-content: space-between;
}

.footer__item {
    margin-right: 80px;
    text-decoration: none;
    color: variables.$neutral-color-gray-700;
    font-weight: variables.$body-font-weight-400;
    transition: color 0.15s ease-out;

    &:hover {
        color: variables.$primary-color-green;
    }
}

.footer__social {
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer__icon {
    transition: filter 0.1s ease-out;

    &:hover {
        filter: invert(62%) sepia(60%) saturate(400%) hue-rotate(120deg);
    }
}

@media screen and (max-width: 1024px) {
    .snippets {
        padding: 50px;
    }

    .snippets__body {
        justify-content: flex-start;
    }

    .snippets__image {
        left: -100px;
        margin-right: -40px;
        width: 600px;
        object-fit: fill;
    }

    .access {
        padding: 50px 50px 0 50px;
        gap: 40px;
        width: 100%;
    }

    .access__text {
        max-width: 700px;
    }

    .access__img {
        width: 100%;
    }

    .workflow {
        padding: 50px;
    }

    .workflow__list {
        width: 100%;
        justify-content: space-between;
    }

    .workflow__item {
        max-width: 280px;
    }

    .partners {
        padding: 50px;
    }

    .partners__list {
        justify-content: space-between;
    }

    .partners__item-logo {
        max-width: 135px;
    }

    .footer {
        padding: 50px;
    }

    .footer__nav {
        gap: 10px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 50px 30px;
        gap: 40px;
    }

    .hero__text {
        max-width: 600px;
        font-size: 16px;
    }

    .cta-btn-ios {
        font-size: variables.$body-font-size-md;
        padding: variables.$padding-button-tablet;

        &:active {
            opacity: 0.6;
        }
    }

    .cta-btn-mac {
        font-size: variables.$body-font-size-md;
        padding: variables.$padding-button-tablet;

        &:active {
            opacity: 0.6;
        }
    }

    .snippets {
        padding: 50px 30px;
    }

    .snippets__text {
        font-size: variables.$body-font-size-md;
        max-width: 600px;
    }

    .snippets__image {
        left: -120px;
        margin-right: -65px;
        width: 500px;
    }

    .snippets__features {
        top: 0;
    }

    .snippets__feature_text {
        font-size: variables.$body-font-size-sm;
    }

    .access__text {
        font-size: variables.$body-font-size-md;
        max-width: 600px;
    }

    .workflow {
        padding: 50px 30px;
        gap: 45px;
    }

    .workflow__text {
        font-size: variables.$body-font-size-md;
    }

    .workflow__item {
        max-width: 210px;
    }

    .workflow__item-img {
        width: auto;
        height: 40px;
    }

    .workflow__item-title {
        font-size: variables.$font-size-heading-tablet-sm;
    }

    .workflow__item-text {
        font-size: variables.$body-font-size-md;
    }

    .partners {
        padding: 50px 30px;
    }

    .partners__item-logo {
        min-width: 60px;
        max-width: 115px;
    }

    .clipboard {
        padding: 50px 30px;
        gap: 40px;
    }

    .clipboard__text {
        font-size: variables.$body-font-size-md;
        max-width: 550px;
    }

    .clipboard__actions {
        gap: 20px;
    }

    .footer {
        padding: 40px 30px;
        gap: 50px;
    }

    .footer__item {
        margin-right: 40px;
    }

    .footer__nav {
        gap: 5px;
        height: 55px;
    }

    .footer__item {
        font-size: variables.$body-font-size-md;

        &:active {
            color: variables.$primary-color-green;
        }
    }

    .footer__icon {
        &:active {
            filter: invert(62%) sepia(60%) saturate(400%) hue-rotate(120deg);
        }
    }
}

@media screen and (max-width: 650px) {
    .snippets__body {
        flex-direction: column;
        gap: 40px;
    }

    .snippets__image {
        position: static;
        margin: 0;
    }

    .workflow__list {
        flex-direction: column;
    }

    .workflow__item {
        max-width: 100%;
    }

    .partners__list {
        gap: 70px;
        justify-content: center;
    }

    .partners__item-logo {
        max-width: 200px;
    }

    .footer__logo {
        width: 60px;
    }

    .footer__item {
        margin-right: 20px;
    }
}

@media screen and (max-width: 421px) {
    .hero {
        padding: 50px 15px;
    }

    .hero__title {
        font-size: variables.$font-size-heading-desktop-md;
        max-width: 300px;
        align-self: center;
    }

    .hero__text {
        max-width: 300px;
    }

    .hero__actions {
        flex-direction: column;
    }

    .cta-btn-ios {
        font-size: variables.$body-font-size-md;
        padding: variables.$padding-button-mobile;
    }

    .cta-btn-mac {
        font-size: variables.$body-font-size-md;
        padding: variables.$padding-button-mobile;
    }

    .snippets {
        padding: 50px 15px;
    }

    .snippets__text {
        max-width: 300px;
        align-self: center;
    }

    .snippets__body {
        flex-direction: column;
        gap: 50px;
    }

    .snippets__image {
        position: static;
        width: 100%;
        margin: 0;
    }

    .snippets__feature {
        text-align: center;
        max-width: 260px;
    }

    .access {
        padding: 50px 15px;
    }

    .access__text {
        max-width: 300px;
        align-self: center;
    }

    .workflow {
        padding: 50px 15px;
        text-align: center;
        gap: 100px;
    }

    .workflow__description {
        max-width: 300px;
    }

    .workflow__list {
        flex-direction: column;
        gap: 50px;
    }

    .workflow__item {
        align-self: center;
        max-width: 320px;
    }

    .partners {
        padding: 50px 15px;
    }

    .partners__list {
        flex-direction: column;
        gap: 60px;
    }

    .partners__item-logo {
        max-width: 300px;
    }

    .clipboard {
        padding: 50px 15px;
    }

    .clipboard__text {
        max-width: 300px;
    }

    .clipboard__actions {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        padding: 50px 15px;
    }

    .footer__nav {
        flex-wrap: nowrap;
        text-align: center;
        gap: 15px;
        height: 100%;
    }

    .footer__item {
        margin: 0;
    }

    .footer__social {
        margin: 0;
        gap: 40px;
    }
}
